body {
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #2C3E50;
    color: #fff;
    padding: 20px;
    margin: -8px;
  }
  
  header h1 {
    margin: 0;
    font-size: 36px;
    text-align: center;

  }
  
  section {
    max-width: 600px;
    margin: 50px auto;
    padding: 50px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  
  section h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .formulaire {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .formulaire td {
    padding: 10px;
  }
  
  .formulaire label {
    display: block;
    margin-bottom: 3px;
  }
  .formulaire input[type="text"],
  .formulaire input[type="email"],
  .formulaire input[type="date"],
  .formulaire input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  .centre {
    text-align: center;
  }
  
  .centre input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .centre input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  p.centre {
    margin-top: 20px;
    text-align: center;
  }
